* {
	margin: 0;
	box-sizing: border-box;
}

:root {
  --full-width: 100%;
  --full-height: 100%;
	--icon-size: 20px;
	--blue: #4895ef;
	--lightblue: #8cb5e4;
	--background-primary: #d3d3d3;
	--primary-button-color: var(--blue);
	--primary-button-color-hover: var(--lightblue);
	--primary-text-color: white;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-template-rows: 1fr 5fr;
	grid-template-areas:
	"sidebar header header header"
	"sidebar main main main"
	"sidebar main main main";
}


.header {
	grid-area: header;
}

.header-grid {
	display: grid;
  width: var(--full-width);
  height: var(--full-height);
	grid-template-columns: 3fr 1fr;
	grid-template-rows: 1fr 2fr;
	grid-template-areas: 
	"search-bar user-profile"
	"user-greetings project-buttons";
}

.search-bar {
	grid-area: search-bar;
	display: flex;
	align-items: center;
	padding-left: 5%;
}

.user-profile {
	grid-area: user-profile;
	display: grid;
	grid-template-columns: 1fr 1fr 3fr;
	grid-template-areas: "bell-icon profile-icon";
	justify-items: center;
	align-items: center;
}

.user-greetings {
	grid-area: user-greetings;
	display: grid;
	grid-template-columns: 1fr 7fr;
	grid-template-rows: 2fr 2fr;
	grid-template-areas:
	"profile-icon greeting"
	"profile-icon user";

	.profile-icon {
		width: 60px;
    height: 60px;
    grid-area: profile-icon;
    justify-self: right;
    align-self: center;
    margin-right: 12px;
	}

	.greeting {
		grid-area: greeting;
		align-self: end;
		font-size: 12px;
		padding-bottom: 4px;
	}
	
	.user {
		grid-area: user;
	}
}

.project-buttons {
	grid-area: project-buttons;
	display: flex;
	align-items: center;

	.primary-button {		
		margin-right: 5%;
	}

}

.search-icon {
	width: var(--icon-size);
	height: var(--icon-size);
	margin-right: max(12px, 1%)
}

.bell-icon {
	width: var(--icon-size);
	height: var(--icon-size);
	justify-self: right;
}

.profile-icon {
	width: var(--icon-size);
	height: var(--icon-size);
}

.user-name {
	justify-self: left;
	font-size: 14px;
}

.search-input {
	width: min(800px, 80%);
	height: 20px;
	border: none;
	border-radius: 10px;
	background-color: var(--background-primary);
}

.sidebar {
	grid-area: sidebar;
	height: 100vh;
	background-color: var(--blue);
	color: var(--primary-text-color);
	padding: 0 0 5% 5%;
}

.dashboard-icon {
	filter: invert(1);
	width: 30px;
	height: 30px;
	margin-right: 10px;
}

.sidebar-grid {
	display: grid;
	align-items: start;
	grid-template-rows: 1fr 2fr 1fr;
	grid-template-areas: 
	"nav-header"
	"main-nav"
	"secondary-nav";
}

.sidebar-header {
	grid-area: nav-header;
	display: flex;
	align-items: center;
	padding: 5% 0 0 0;
}

.main-nav {
	grid-area: main-nav;
	margin-bottom: 50px;
}

.secondary-nav {
	grid-area: secondary-nav;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav a {
	text-decoration: none;
	color: var(--primary-text-color);
}

.nav-link {
	display: flex;
	align-items: center;
	padding-bottom: max(14px, 2%)
}

.nav-link-icon {
	filter: invert(1);
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

.main {
	padding: 2%;
	grid-area: main;
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: 
	"projects announcements"
	"projects trending";
	gap: min(5px, 2%);
	background-color: var(--background-primary);

	.projects {
		grid-area: projects;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 8fr 8fr 8fr;

		.card {
			display: grid;
			grid-template-rows: 1fr 5fr 1fr;
			justify-self: center;
			border-left: 6px solid orange;
			> p {
				font-weight: 400;
				color: #737373;
				font-size: 12px;
			}
		}

		.action-buttons {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;

			> button {
				border: none;
				background: transparent;
				cursor: pointer;
			}
		}
	}

	.announcements {
		grid-area: announcements;
		display: grid;
    grid-template-rows: 1fr 10fr;

		.card {
			width: 100%;
			height: fit-content;
    	padding: 9% 7%;
		}
	}

	.trending {
		grid-area: trending;

		.card {
			width: 100%;
		}

		> figure {
			display: grid;
			grid-template-columns: 1fr 5fr;
			grid-template-rows: 1fr 1fr;
		}

		.user-image {
			align-self: center;
			justify-self: center;
			width: 20px;
			height: 20px;
		}
	}

	.main-title {
		grid-area: main-title;
		grid-column: 1 / -1;
		grid-row: 1;
	}
}

.card {
	padding: 4%;
	width: 400px;
	height: 200px;
	box-shadow: 1px 2px 3px darkgray;
	border-radius: 6px;
	background: white;
}

.rotate-90 {
	transform: rotate(-90deg);
}

.primary-button {
	background-color: var(--primary-button-color);
	border: none;
	border-radius: 12px;
	font-size: 12px;
	color: var(--primary-text-color);
	padding: 6px 0;
	width: 72px;

	&:hover {
		cursor: pointer;
		background-color: var(--primary-button-color-hover);
	}
}

.separator {
	border-bottom: 1px solid var(--background-primary);
	margin: 12px 0;
}