* {
	margin: 0;
	box-sizing: border-box;
}

:root {
  --full-width: 100%;
  --full-height: 100%;
	--icon-size: 20px;
	--blue-primary: #4895ef;
	--primary-button-color: var(var(--blue-primary));
	--primary-text-color: white;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-template-rows: 1fr 4fr;
	grid-template-areas:
	"sidebar header header header"
	"sidebar main main main"
	"sidebar main main main";
}


.header {
	grid-area: header;
}

.header-grid {
	display: grid;
  width: var(--full-width);
  height: var(--full-height);
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 1fr 2fr;
	grid-template-areas: 
	"search-bar user-profile"
	"user-greetings project-buttons";
}

.search-bar {
	grid-area: search-bar;
	display: flex;
	align-items: center;
	justify-content: center;
}

.user-profile {
	grid-area: user-profile;
	display: grid;
	grid-template-columns: 1fr 1fr 3fr;
	grid-template-areas: "bell-icon profile-icon";
	justify-items: center;
	align-items: center;
}

.user-greetings {
	grid-area: user-greetings;
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-template-rows: 2fr 2fr;
	grid-template-areas:
	"profile-icon greeting"
	"profile-icon user";

	.profile-icon {
		width: 60px;
    height: 60px;
    grid-area: profile-icon;
    justify-self: right;
    align-self: center;
    margin-right: 12px;
	}

	.greeting {
		grid-area: greeting;
		align-self: end;
		font-size: 12px;
		padding-bottom: 4px;
	}
	
	.user {
		grid-area: user;
	}
}

.action-buttons {
	grid-area: project-buttons;


}

.search-icon {
	width: var(--icon-size);
	height: var(--icon-size);
	margin-right: max(12px, 1%)
}

.bell-icon {
	width: var(--icon-size);
	height: var(--icon-size);
	justify-self: right;
}

.profile-icon {
	width: var(--icon-size);
	height: var(--icon-size);
}

.user-name {
	justify-self: left;
	font-size: 14px;
}

.search-input {
	width: min(400px, 80%);
	height: 20px;
	border: none;
	border-radius: 10px;
	background-color: #d3d3d3;
}

.sidebar {
	grid-area: sidebar;
	height: 100vh;
	background-color: var(--blue-primary);
	color: var(--primary-text-color);
	padding: 0 0 5% 5%;
}

.dashboard-icon {
	filter: invert(1);
	width: 30px;
	height: 30px;
	margin-right: 10px;
}

.sidebar-grid {
	display: grid;
	align-items: start;
	grid-template-rows: 1fr 2fr 1fr;
	grid-template-areas: 
	"nav-header"
	"main-nav"
	"secondary-nav";
}

.sidebar-header {
	grid-area: nav-header;
	display: flex;
	align-items: center;
	padding: 5% 0 0 0;
}

.main-nav {
	grid-area: main-nav;
	margin-bottom: 50px;
}

.secondary-nav {
	grid-area: secondary-nav;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav a {
	text-decoration: none;
	color: var(--primary-text-color);
}

.nav-link {
	display: flex;
	align-items: center;
	padding-bottom: max(14px, 2%)
}

.nav-link-icon {
	filter: invert(1);
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

.main {
	grid-area: main;
	background-color: green;
}