body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	display: grid;
	grid-template-columns: 1fr 2fr 2fr 2fr;
	grid-template-rows: 2fr 2fr 2fr;
	grid-template-areas:
	"sidebar header header header"
	"sidebar main main main"
	"sidebar main main main";
}

.sidebar {
	grid-area: sidebar;
	height: 100vh;
	background-color: #4895ef;
	color: white;
	padding: 0 0 5% 5%;
}

.dashboard-icon {
	filter: invert(1);
	width: 30px;
	height: 30px;
	margin-right: 10px;
}

.sidebar-grid {
	display: grid;
	align-items: start;
	grid-template-columns: 100%;
	grid-template-rows: 1fr 2fr 1fr;
	grid-template-areas: 
	"nav-header"
	"main-nav"
	"secondary-nav";
}

.sidebar-header {
	grid-area: nav-header;
	display: flex;
	align-items: center;
	padding: 0 0 3% 0;
}

.main-nav {
	grid-area: main-nav;
	margin-bottom: 50px;
}

.secondary-nav {
	grid-area: secondary-nav;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav a {
	text-decoration: none;
	color: white;
}

.nav-link {
	display: flex;
	align-items: center;
	padding: 0 0 3% 0;
}

.nav-link-icon {
	filter: invert(1);
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

.header {
	grid-area: header;
}

.header-grid {
	display: grid;
	align-items: start;
	grid-template-columns: 1fr 1fr; 
	grid-template-rows: 1fr 1fr;
	grid-template-areas: 
	"search-bar user-profile"
	"user-greetings project-buttons";
}

.search-bar {
	grid-area: search-bar;
}

.user-profile {
	grid-area: user-profile;
}

.user-greetings {
	grid-area: user-greetings;
}

.project-buttons {
	grid-area: project-buttons;
}

.search-icon {
	width: 20px;
	height: 20px;
  padding: 1% 0 0 2%;
}

.bell-icon {
	width: 20px;
	height: 20px;
  padding: 1% 0 0 2%;
}

.profile-icon {
	width: 20px;
	height: 20px;
  padding: 1% 0 0 2%;
}

.search-bar {
	width: 40%;
	border: none;
	border-radius: 10px;
	background-color: #d3d3d3;
}


.main {
	grid-area: main;
	background-color: green;
}